<mat-toolbar color="primary" class="toolbar">
  <h1>
    Parce que c'est notre projet !!!!!!!! - Macron
  </h1>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Neo4J">
    <mat-divider></mat-divider>
    <div class="neo4j_container">
      <ngx-graph
        class="chart-container"
        [layout]="layout"
        [links]="links"
        [nodes]="nodes"
        [update$]="update$"
        [minZoomLevel]="0.5"
        [maxZoomLevel]="2">
        <ng-template #nodeTemplate let-nodes>
          <svg:g
            (click)="display(nodes)"
            class="node">
            <svg:rect
              [attr.width]="nodes.dimension.width"
              [attr.height]="nodes.dimension.height"
              [attr.fill]="nodes.data.color"
            />
            <svg:text [matTooltip]="nodes.protein" alignment-baseline="central" [attr.x]="10" [attr.y]="nodes.dimension.height / 2">
              {{nodes.label}}
            </svg:text>
          </svg:g>
        </ng-template>
        <ng-template #linkTemplate let-links>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + links.id"
                [style.dominant-baseline]="links.dominantBaseline"
                startOffset="50%"
              >
                {{links.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
        >
      </ngx-graph>

      <form class="form_body">
        <mat-form-field>
          <mat-label>
            Recherche
          </mat-label>
          <input matInput (keyup)="updateInput($event)"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            Critère
          </mat-label>
          <mat-select  [ngModel]="selectedOption" [(value)]="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="search()" mat-stroked-button color="primary">Rechercher</button>
      </form>
      <label class="switch">
        <input type="checkbox" (change)="switchLayout($event)">
        <span class="slider round"></span>
      </label>
    </div>

  </mat-tab>
  <mat-tab class="dashboard_tab" label="MongoDB">
    <mat-divider></mat-divider>
    <mat-card class="mongodb_card_container">
      <form class="mongodb_search">
        <mat-form-field class="mongoDB_formfield">
          <mat-label>
            Recherche
          </mat-label>
          <input matInput (keyup)="updateInputMongoDB($event)">
        </mat-form-field>
        <mat-form-field class="mongoDB_criteria">
          <mat-label>
            Critère
          </mat-label>
          <mat-select  [ngModel]="selectedOptionMongoDB" [(value)]="selectedOptionMongoDB">
            <mat-option *ngFor="let option of optionForMongo" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button class="mongo_search_btn" (click)="mongoSearch()" mat-stroked-button color="primary">Rechercher</button>
    </mat-card>
    <mat-divider></mat-divider>
    <div class="mongodata_container">
      <table mat-table [dataSource]="proteinList" class="mat-elevation-z8">

        <ng-container matColumnDef="entry">
          <th mat-header-cell *matHeaderCellDef> Entry </th>
          <td mat-cell class="truncate-cell" *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.entry)" [matTooltip]="element.entry"> {{element.entry}}</label> </td>
        </ng-container>

        <ng-container matColumnDef="entryName">
          <th mat-header-cell *matHeaderCellDef> Entry Name </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.entryName)" [matTooltip]="element.entryName"> {{element.entryName}} </label></td>
        </ng-container>

        <ng-container matColumnDef="proteinNames">
          <th mat-header-cell *matHeaderCellDef> Protein Name </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.proteinNames)" [matTooltip]="element.proteinNames"> {{element.proteinNames}}</label> </td>
        </ng-container>

        <ng-container matColumnDef="interPro">
          <th mat-header-cell *matHeaderCellDef> InterPro </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.interPro)" [matTooltip]="element.interPro"> {{element.interPro}} </label></td>
        </ng-container>

        <ng-container matColumnDef="sequence">
          <th mat-header-cell *matHeaderCellDef> Sequence </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.sequence)" [matTooltip]="element.sequence"> {{element.sequence}} </label></td>
        </ng-container>

        <ng-container matColumnDef="ecNumber">
          <th mat-header-cell *matHeaderCellDef> EC Number </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.ecNumber)" [matTooltip]="element.ecNumber"> {{element.ecNumber}} </label></td>
        </ng-container>

        <ng-container matColumnDef="geneOntology">
          <th mat-header-cell *matHeaderCellDef> Gene Ontology </th>
          <td mat-cell class="truncate-cell"  *matCellDef="let element"><label class="copy_label" (click)="copyToClipboard(element.geneOntology)" [matTooltip]="element.geneOntology"> {{element.geneOntology}} </label></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
      </table>
    </div>
    <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>
  </mat-tab>
</mat-tab-group>

