<h1>Frontend :D</h1>
<ngx-graph
        class="chart-container"
        [links]="links"
        [nodes]="nodes"
        layout="dagreCluster"
        style="width: 100%"
></ngx-graph>
<input type="text" placeholder="Entrez les informations de la protéine" (keyup)="updateInput($event)"/>
<button (click)="reloadWithEntry()">Rechercher par Entry</button>
<button (click)="reloadWithEntryName()">Rechercher par EntryName</button>
<button (click)="reloadWithProteinNames()">Rechercher par ProteinNames</button>
<button *ngIf="dataSourceProtein !== ProteinModel.EMPTY_PROTEIN" (click)="getNeighbors()">Afficher les voisins de la protéine</button>
<button *ngIf="dataSourceProtein !== ProteinModel.EMPTY_PROTEIN" (click)="getNeighborsAndNeighborsOfNeighbors()">Afficher les voisins du premier et second degré de la protéine</button>
