

.toolbar {
  display: flex;
  justify-content: center;
  height: 50px;
}

.neo4j_container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 30px;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 40%;
}

.chart-container {
  border-style: inset;
  border-radius: 1px;
  flex-grow: 1;
}

.radio_group {
  display: flex;
  width: max-content;
}

.mongodb_card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mongodb_search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mongoDB_formfield {
  margin: 20px 50px;
}

.mongoDB_criteria {
  height: fit-content;
}

.mongo_search_btn {
  width: 15%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.mongodata_container {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}

.truncate-cell {
  max-width: 60px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
