/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toolbar {
  display: flex;
  height: 50px;
}

.toolbar_title {
  font-size: 30px;
  margin-left: 30px;
}

.toolbar_logo {
  height: 50px;
}

.neo4j_container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 30px;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 40%;
}

.chart-container {
  border-style: inset;
  border-radius: 1px;
  flex-grow: 1;
}

.radio_group {
  display: flex;
  width: max-content;
}

.mongodb_card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mongodb_search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mongoDB_formfield {
  margin: 20px 50px;
}

.mongoDB_criteria {
  height: fit-content;
}

.mongo_search_btn {
  width: 15%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.mongodata_container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.truncate-cell {
  max-width: 60px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy_label {
  cursor: pointer;
}

.stats_body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 500px;
}

.stats_card {
  width: 40%;
  height: fit-content;
}

.card_header {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: aliceblue;
}

.card_title {
  font-weight: bold;
  font-size: 25px;
}

.statistics-container {
  display: flex;
  flex-direction: column;
}

.statistic_row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.statistic_row_title {
  display: flex;
  width: 50%;
  font-weight: bold;
  font-size: 20px;
}

.statistic_row_value {
  display: flex;
  width: 50%;
  font-size: 20px;
}

.compare_body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.compare_row_title {
  display: flex;
  width: 60%;
  font-weight: bold;
  font-size: 10px;
}

.compare_row_value {
  display: flex;
  width: 40%;
  font-size: 10px;
}

.compare_row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.compare_form_field {
  height: 60px;
}

.compare_form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
